/* Common styles for both desktop and mobile */
html, body {
    margin: 0;
    padding: 0;
    cursor: url('cursor.cur'), auto;
}

body {
    background-color: #95A1D1;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #F5F5EE;
    cursor: url('cursor.cur'), auto;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    cursor: url('cursor.cur'), auto;
}

.logo-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: url('cursor.cur'), auto;
}

#header {
    height: 500px;
    background-image: url('images/header.png');
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: white;
    z-index: 0;
    cursor: url('cursor.cur'), auto;
}

#header::before {
    content: "";
    display: block;
    background-color: rgba(148, 155, 206, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
    cursor: url('cursor.cur'), auto;
}

.quote-container {
    text-align: center;
}

.quote-of-the-day {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white; /* Change this to your desired text color */
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#dklogo {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: url('cursor.cur'), auto;
}

#animated-gif {
    display: block;
    margin: 0 auto;
    cursor: url('cursor.cur'), auto;
}

nav {
    background-color: #95A1D1; /* Change this to your desired background color */
    color: #FFFFFF; /* Change this to your desired text color */
    display: flex;
    font-family: Arial;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 55px; /* You can adjust the height as needed */
    cursor: url('cursor.cur'), auto;
    text-decoration: none;
}

/* Style the horizontal menu */
.horizontal-menu {
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0px;
  display: flex;
  font-family: Arial;
  background-color: #95A1D1; /* Background color for the menu */
}

/* Style the menu items */
.horizontal-menu li {
  padding: 30px;
  margin: 20px 20px;
  display: inline-block;
  cursor: url('cursor.cur'), auto /* Spacing around menu items */
}

/* Style the menu item links */
.horizontal-menu a {
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold;
  color: #FFFFFF; /* Text color for links */
}

/* Style the menu item links on hover */
.horizontal-menu a:hover {
  text-decoration: underline;
  color: #FFFFFF /* Underline links on hover */
  cursor: url('cursor.cur'), auto;
}

}
#selfie {
    padding: 5px 5px;
    cursor: url('cursor.cur'), auto;
}

#about-me {
    font-family: Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #95A1D1;
    padding: 30px;
    cursor: url('cursor.cur'), auto;
}

#portfolio {
    background-color: #95A1D1;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    color: white;
    padding: 10px 10px;
    cursor: url('cursor.cur'), auto;
}

#image-gallery {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
    cursor: url('cursor.cur'), auto;
}

#image-gallery img {
    max-width: 100%;
    margin: 0px;
    display: none;
    align-items: center;
    cursor: url('cursor.cur'), auto;
}

#services {
    height: 1600px;
    font-size: 20px;
    font-family: Arial;
    color: #95A1D1;
    text-align: center;
    background-color: #FFFFFF;
    padding: 30px;
    cursor: url('cursor.cur'), auto;
}

#logodesign {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#webdesign {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#printdesign {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#illustration {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#merchandise {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#contact {
    text-align: center;
    background-color: #95A1D1;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 30px;
    cursor: url('cursor.cur'), auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url('cursor.cur'), auto;
}

#contact-form label {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    display: block;
    margin-top: 10px;
    cursor: url('cursor.cur'), auto;
}

#contact-form input,
#contact-form textarea {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #95A1D1;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #95A1D1;
    cursor: url('cursor.cur'), auto;
}

#contact-form select {
    border-radius: 10px;
    width: 52%;
    margin-top: 5px;
    border: 2px solid #95A1D1;
    font-family: Arial, sans-serif;
    color: #95A1D1;
    padding: 10px;
    cursor: url('cursor.cur'), auto;
}

#contact-form textarea {
    resize: none;
    border-radius: 10px;
    cursor: url('cursor.cur'), auto;
}

#contact-form input[type="submit"] {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: block;
    width: 90px;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#contact-form input[type="submit"]:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#zappad {
    display: block;
    background-color: #FFFFFF;
    height: 100px;
    padding: 10px 10px;
    cursor: url('cursor.cur'), auto;
}

#footer {
    height: auto;
    background-color: #FFFFFF;
    font-size: 20 px;
    font-weight: normal;
    font-family: Arial;
    color: #95A1D1;
    padding: 20px;
    cursor: url('cursor.cur'), auto;
}

.social-media {
    display: inline-block;
    cursor: url('cursor.cur'), auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

.social-icon {
    display: inline-flex;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    transition: box-shadow 0.3s;
    border-radius: 50%;
    cursor: url('cursor.cur'), auto;
}

#back-button {
    cursor: pointer;
    font-family: Arial;
    background-color: #FFFFFF;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#next-button {
    cursor: pointer;
    font-family: Arial;
    background-color: #FFFFFF;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#next-button:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#back-button:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#email-button {
    background-color: #FFFFFF;
    font-family: Arial;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#email-button:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#back-to-top {
    display: none;
    font-family: Arial;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #7780A7;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    cursor: url('cursor.cur'), auto;
}

#back-to-top:hover {
    background-color: #FFFFFF;
    font-family: Arial;
    color: #7780A7;
    border: none;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* Styles for mobile */
@media screen and (max-width: 767px) {
    p {
        padding: 0px 10px;
        margin-left: 5%;
        margin-right: 5%;
    }

    body {
        font-size: 12px;
    }

    #menu {
        display: none;
    }
    .nav {
        display: none;
    }

    .horizontal-menu {
        display: none;
    }

    .parallax {
        height: 100px;
    }

    .logo-container {
        top: 30%;
    }

    #header {
        height: 100px;
        font-size: 16px;
    }

    #header::before {
        height: auto;
    }

    #animated-gif {
        display: none;
    }

    #image-gallery img {
        max-width: 100%;
    }

    #services {
        height: auto;
    }

    #contact {
        height: auto;
        padding: 30px 10px;
    }
    #contact-form input,
    #contact-form textarea,
    #contact-form select {
        width: 100%;
    }

    #footer {
        height: 30px;
    }
}
