html, body {
    margin: 0;
    padding: 0;
    cursor: url('cursor.cur'), auto;
}

body {
    background-color: #95A1D1;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #F5F5EE;
    cursor: url('cursor.cur'), auto;
}

p {
    text-align: justify-all;
    padding: 0px 100px;
    margin-left: 9%;
    margin-right: 9%;
    cursor: url('cursor.cur'), auto;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    cursor: url('cursor.cur'), auto;
}

.logo-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: url('cursor.cur'), auto;
}

nav {
    background-color: #95A1D1; /* Change this to your desired background color */
    color: #FFFFFF; /* Change this to your desired text color */
    display: flex;
    font-family: Arial;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 55px; /* You can adjust the height as needed */
    cursor: url('cursor.cur'), auto;
    text-decoration: none;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    cursor: url('cursor.cur'), auto;
}

.menu li {
    background-color: #95A1D1;
    padding: 10px;
    margin: 20px 20px;
    display: inline-block;
    cursor: url('cursor.cur'), auto;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF; /* Change this to your desired link color */
    font-weight: bold;
    cursor: url('cursor.cur'), auto;
}

.menu a:hover {
    color: #FFFFFF; /* Change this to your desired hover color */
    cursor: url('cursor.cur'), auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#header {
    height: 500px;
    background-image: url('images/header.png');
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: white;
    z-index: 0;
    cursor: url('cursor.cur'), auto;
}

#header::before {
    content: "";
    display: block;
    background-color: rgba(148, 155, 206, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
    cursor: url('cursor.cur'), auto;
}

#dklogo {
    cursor: url('cursor.cur'), auto;
}

#animated-gif {
    display: block;
    margin: 0 auto;
    cursor: url('cursor.cur'), auto;
}

#selfie {
    padding: 5px 5px;
    cursor: url('cursor.cur'), auto;
}

#about-me {
    font-family: Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #95A1D1;
    padding: 30px;
    cursor: url('cursor.cur'), auto;
}

#portfolio {
    background-color: #95A1D1;
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    color: white;
    padding: 10px 10px;
    cursor: url('cursor.cur'), auto;
}

#image-gallery {
    display: flex;
    justify-content: center
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    cursor: url('cursor.cur'), auto;
}

#image-gallery img {
    max-width: 100%;
    margin: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: url('cursor.cur'), auto;
}

#services {
    height: 2000px;
    font-size: 20px;
    font-family: Arial;
    color: #95A1D1;
    text-align: center;
    background-color: #FFFFFF;
    padding: 30px;
    cursor: url('cursor.cur'), auto;
}

#logodesign {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#webdesign {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#printdesign {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#illustration {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#merchandise {
    padding: 40px 10px;
    cursor: url('cursor.cur'), auto;
}

#contact {
    text-align: center;
    background-color: #95A1D1;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 30px;
    cursor: url('cursor.cur'), auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url('cursor.cur'), auto;
}

#contact-form label {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    display: block;
    margin-top: 10px;
    cursor: url('cursor.cur'), auto;
}

#contact-form input,
#contact-form textarea {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #95A1D1;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #95A1D1;
    cursor: url('cursor.cur'), auto;
}

#contact-form select {
    border-radius: 10px;
    width: 42%;
    margin-top: 5px;
    border: 2px solid #95A1D1;
    font-family: Arial, sans-serif;
    color: #95A1D1;
    padding: 10px;
    cursor: url('cursor.cur'), auto;
}

#contact-form textarea {
    resize: none;
    border-radius: 10px;
    cursor: url('cursor.cur'), auto;
}

#contact-form input[type="submit"] {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: block;
    width: 90px;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#contact-form input[type="submit"]:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#footer {
    height: 175px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: #95A1D1;
    padding: 20px;
    text-align: center;
    cursor: url('cursor.cur'), auto;
}

.social-media {
    display: inline-block;
    cursor: url('cursor.cur'), auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.social-icon {
    display: inline-flex;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    transition: box-shadow 0.3s;
    border-radius: 50%;
    cursor: url('cursor.cur'), auto;
}

#back-button {
    cursor: pointer;
    font-family: Arial;
    background-color: #FFFFFF;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#next-button {
    cursor: pointer;
    font-family: Arial;
    background-color: #FFFFFF;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#next-button:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#back-button:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#email-button {
    background-color: #FFFFFF;
    font-family: Arial;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    color: #95A1D1;
    border-radius: 20px;
    cursor: url('cursor.cur'), auto;
}

#email-button:hover {
    background-color: #7780A7;
    color: #FFFFFF;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#back-to-top {
    display: none;
    font-family: Arial;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #7780A7;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    cursor: url('cursor.cur'), auto;
}

#back-to-top:hover {
    background-color: #FFFFFF;
    font-family: Arial;
    color: #7780A7;
    border: none;
    cursor: url('cursor.cur'), auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
